.ac_results .autocomplete-item {
  overflow: hidden;
  clear: both;
}

.ac_results .autocomplete-item a {
  color: #000;
}

.ac_results .autocomplete-episodes {
  float: right;
  clear: both;
}

.ac_results .autocomplete-thumbnail {
  float: right;
}

.ac_results .autocomplete-section {
  float: left;
  text-transform: uppercase;
  color: #222;
}

.ac_results .autocomplete-key {
  float: right;
  color: #000;
}

.ac_results .ac_over {
  background: #ddd;
}

.ac_results .autocomplete-item-count {
  text-align: right;
}